/*GLOBAL*/

body {
    background-color: #eee;
    color: #FFF;
    font-weight: bold;
    line-height: 100%;
    vertical-align: middle;
}

.container {
    max-width: 1000px;
}

.container>div {
    height: 100%;
    margin: 0;
    position: relative;
}

button {
    outline: none;
}


/*HEADER*/

header {
    height: 80px;
    background-color: darkgrey;
    position: relative;
}

header h2 {
    margin: 0;
    line-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/*CALCULATOR */
.calculator {
    background: linear-gradient(to bottom, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    height: 500px;
    border-radius: 15px;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-box-shadow: 22px 29px 75px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 29px 75px 11px rgba(0,0,0,0.75);
    box-shadow: 22px 29px 75px 11px rgba(0,0,0,0.75);
}

.row {
    height: 17%;
    margin: 1.5% 0;

}

.clearContainer {
    height: 95%;
}

.clearContainer>div {
    height: 100%;
}

.clearContainer>div div {
    height: 45%;
    margin: 9.5% 0;
    border-radius: 10px;
}

.clear {
    background-color: #FF3333;
    margin-top: 15px;
}

.display {
    background-color: #999999;
    height: 100%;
    width: 73%;
    margin-left: 1.9%;
    padding-top: 35px;
    font-size: 1.5em;
    border: 2px solid rgb(74,79,82);
    box-shadow: inset 0 0 10px #000000;
}

.key, .display  {
    border-radius: 10px;
}

.key {
    height: 93%;
    width: 22%;
    margin: 5% 1.5% 0;
    padding-top: 35px;
    background-color: #003333;
    font-size: 2em;
    text-align: center;
}

.key:active {
    padding: 4px 5px 5px;
    font-size: 3em;
}







